%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
		%link{:href=>'/stylesheet.css', :rel=>'stylesheet', :type=>'text/css'}
		%script{:type=>"text/javascript", :src=>"/jquery.js"}
		%script{:type=>"text/javascript", :src=>"/search.js"}
%body
	#main
		#headers
			%form
				Pattern Seach:
				%input{:type=>"text", :name=>"query", :size=>55, :value=>@query}
				%input{:type=>"submit", :value=>"search"}
		#contents
			#information
				%p="1-10results / 795,000,000 / #{(@elapsed_time*100).to_i/100.0} sec"
			%ol
				- @hits.each do |hit|
					%li
						%h3=hit['korean']
						#detail
							%p="[#{(hit['score']*100).to_i/100.0}] #{hit['english']}"
		